html,
body,
.root {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body,
.app {
  background: white;
}

.list-books-content {
  padding: 0 0 30px;
  flex: 1;
}

.bookshelf {
  padding: 95px 10px;
  text-align: center;
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
  font-weight: bold;
  margin-bottom: .7rem;
}

.search-books-results {
  padding: 80px 10px 20px;
}

.books-grid {
  list-style-type: none; /*remove marcador de lista*/
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 15px 15px;
  text-align: left;
}

.book {
  width: 200px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.titulo-principal-fonte {
  font-family: 'Lobster', cursive;
  font-size: 35px;
}

.spinner{
  height: 31.87rem
}

.link-navbar {
  font-size: 20px;
}

.input {
  margin-left: 8px; 
}

.img-livro {
  width: 198px;
  height: 298px
 
}

.card-livro {
  width:200px;
  height:480px;
}

.rodape-livro {
  padding: 15px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}

.titulo-livro {
  font-size: 1.05rem;
  font-weight: bold;
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
  margin-bottom: 0;
}

.alinhamento-titulo {
  height: 40px;
  width: 100%;
}

.autor-livro {
  font-size: 1rem;
  padding: 0 0 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
}

.opcoes-mover {
  margin: 0 10px;
  cursor: pointer;
}

.conteudo-rodape {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 207px;
  background-image:url("../img/footer.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0;
}

.rodape-p {
  color: #FFFFFF;
}

.rodape-h {
  font-family: 'Lobster', cursive;
  color: #FFFFFF;
  font-size: 35px;
}

.erroSearch, .pesquise, .semLivro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 510px;
  background-color: #f8f9fa;
}

.msgErroTitle {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Bowlby One', cursive;
}

.msgErroSubtitle {
  font-size: 35px;
}

.msgErroP {
  font-size: 20px
}

.msgPesquise {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Sriracha', cursive;
}

.msgPesquiseSubtitle {
  font-size: 30px;
  font-family: 'Sriracha', cursive;
}

.none {
  display: none;
}




@media (min-width: 600px) {
  .bookshelf {
    padding: 100px 20px 40px 20px;
  }

  .list-books-content {
    padding: 0 0 80px;
  }
}

@media screen and (min-width: 975px){
  .books-grid {
    padding: 0 40px;
  }
}

@media screen and (max-width: 610px){
  .conteudo-rodape {
    background-size: 190%;
  }
}